ul {
    list-style-type: none;
}

li.file {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
    position: relative;
    width: 128px;
    height: 128px;
    box-shadow: 2px 2px 5px #ccc;
    border: 2px solid #666;
}

li a.thumb {
    display: block;
    width: 128px;
    height: 128px;
    text-decoration: none;
    overflow: hidden;
}

li a.thumb .preview p {
    color: black;
    font-size: 0.8em;
    line-height: 1.5em;
    padding-left: 1em;
    text-indent: -1em;
    margin: 0;
}

li a.info {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("/static/info.png");
    background-size: 100%;
    position: absolute;
    top: -7px;
    right: -7px;
    z-index: 10;
    border-radius: 16px;
    background-color: white;
    box-shadow: 2px 2px 5px #ccc;
}

li a.info:hover {
    background-image: url("/static/info_b.png");
    cursor: pointer;
}

li img {
    display: block;
    position: absolute;
    bottom: 10px;
    max-width: 128px;
    max-height: 128px;
}

li a.delete {
    position: absolute;
    top: 1px;
    right: 1px;
    text-decoration: none;
    display: block;
    background-color: red;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 3px;
}

.dropzone {
    /* positions to point 0,0 - required for z-index */
    position: fixed; top: 0; left: 0;
    /* above all elements, even if z-index is used elsewhere
       it can be lowered as needed, but this value surpasses
       all elements when used on YouTube for example. */
    z-index: 9999999999;
    /* takes up 100% of page */
    width: 100%; height: 100%;
    /* dim the page with 50% black background when visible */
    background-color: rgba(0,0,0,0.5);
    /* a nice fade effect, visibility toggles after 175ms, opacity will animate for 175ms. note display:none cannot be animated.  */
    transition: visibility 175ms, opacity 175ms;
}

.dropzone .queue {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 200px;
    max-height: 65%;
    overflow: hidden;
    margin-left: -100px;
    padding: 0;
    border-radius: 5px;
    background-color: #efefef;
}

.dropzone .queue li {
    color: #999;
    font-size: 1.1em;
    padding: 10px;
    text-align: center;
}
.dropzone .queue li.done {
    color: #07d;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}

.spin {
    animation: spinner 1.5s linear infinite;
}

form {
    padding: 20px 20%;
    text-align: center;
    position: relative;
}
form input {
    font-size: 2em;
    width: 90%;
    text-align: center;
}

button.index {
    position: absolute;
    right: 60px;
    top: 20px;
    height: 32px;
    width: 32px;
    background-size: 100%;
    background-image: url("/static/refresh.png");
    border: 0;
    background-color: transparent;
}

button.index:hover {
    background-image: url("/static/refresh_b.png");
    cursor: pointer;
}

a.wipe {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 32px;
    width: 32px;
    background-size: 100%;
    background-image: url("/static/delete.png");
    border: 0;
    background-color: transparent;
}

a.wipe:hover {
    background-image: url("/static/delete_b.png");
    cursor: pointer;
}


h3 {
    text-align: center;
    margin: 0;
}

img.file {
    max-width: 96%;
    padding: 2%;
    margin: 0 auto;
    display: block;
}

.email {
    font-weight: bold;
    width: 80%;
    margin: 10px auto;
    line-height: 1.5em;
}

pre.blob {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #efefef;
    box-shadow: inset 0 0 5px #ccc;
    overflow: scroll;
}
